<style>
  .back-button {
    position: fixed;
    top: 12px;
    left: 12px;
    height: 30px;
    width: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #ddd;
    color: black;
    cursor: pointer;
    line-height: 30px;
    padding: auto;
  }
  .back-button span {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAChElEQVR4Xu2aMUhWURTHf0ogDoIQBA6ig0OLq0vQEGiD1dzWorU06yaFi61uEbZEm0jRIEIkrS6uDQ5hQ1PgEg4Nyh/ehcvlLS/uue9+nneW7+Pj4733/91zz/3f8+4YzmPMuX4GAEMGOCcwTAHnCTAUwVGYAuvAEqDP7FE7gC3gdaP6VfQ9G4haAei53raM+hqwl009VFkDbgEfgKeJ0H/Nbwc3GcAk8AlYSUT+BR4DxznF61o1TYFp4KgpeLHOP8AycJpbfE0AZoBvwN1E5C/gAXBmIb4WAAuN+NlEpETfB35bia8BwGIzr28nIpXuSnulv2n0WQPuAYfAVKJQhU4FT4XPPPoC8AjYByYShVritPxpySsSfQB4BrwHxhOF74AXwFUR5c1NSgPYAN60CJTdldUtHqUA6D67wMtEoUZbo67R7yVKAFCqfyxlbbtStAagIqdip6IXxyWwamFtawKg5U3LnJa7OC6Ah8BJ14e1+L9VBtwBvgIyOnHI1cna/rAQ8z/XtAAw36S2PuOQtZV4+ftqIjcAbWa+A8qAOIpZ265kcwJQ307bWW1r4yhqbfsCoAaGGhlqaMRR3Nr2AUBL3JeWG8vcPO/6QKX/n2MKnAPpXn4bUEe3+sgB4Ccwlyh1BeAJ8NnzFJB210UwDL7rZTBAcG2EAgTXVjhAcL0ZChBcb4cDBNcNkQDBdUssQHDdFI1N4iaw0+Iab3xbPNbs+sVIAOH61ViA4PrlaIDg+vV4gOD6gESA4PqITIDg+pBUgOD6mFyA4PqgZGyd3R6VjV1jfFjaxC7naItb9/5dH5e3hlvVWWFzsW03GIUpYApmAGCKdwQuPmTACAyS6SO6z4Br74CCQRr+UMYAAAAASUVORK5CYII=);
    width: 20px;
    height: 20px;
    margin: 4px;
  }
  .back-button:hover {
    background-color: #eee;
    text-decoration: none;
  }
</style>
<a href="{{ site.url }}" class="back-button"><span></span></a>
